.button{
    padding: .6563rem 3rem;
    margin: auto;
    background-color: var(--button-color);
    border-radius: .5rem;
    display:inline-block ;


    &:hover{
        background-color: var(--hover-button-color);
    }
}