.about{
    width: 100%;
    padding:10rem 3.5rem ;
    background-color:var(--background-lightBlue-color) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutLeftDiv{
    width: 40.70%;
  }

.aboutLeftDiv h1{
    font-size: 3rem;
    line-height: 4.5rem;
    margin-bottom: .5rem;
}

.aboutLeftDiv p{
    font-size:1.875rem;
    line-height: 2.25rem;
    color: var(--highLight-color);
   
}

.detailsText{
    font-size: 1.055rem;   
    line-height: 1.6875rem;
    color: white;
    margin-top: 1.4688rem;
    margin-bottom: 2.0313rem;
}

.aboutRightDiv{
    margin-right: 11.875rem;
}

@media(max-width:768px){
    .about{
        padding: 3.75rem 2.5rem 10rem 2.5rem;
    }

    .aboutLeftDiv{
        width: 45.182%;
    }

    .aboutRightDiv{
        margin-right: 0px;
    }

    .img{
        width: 350px;
    }
}

@media(max-width:390px){
    .about{
        padding: 10rem 0rem;
        flex-direction: column;
    }

    .aboutLeftDiv{
        width: 90%;
    }
}
