.cards{
    flex-shrink: 0;
    flex-grow: 0;
    width: calc((100% - 64px) / 3);
    padding: 2.1875rem 1.7813rem 3.5rem 1.7813rem;
    background-color: var(--background-tealBlue);
    text-align: center;
    border-radius: 1rem;
    border-top: 4px solid white;
    margin-right: 32px;
}

.cardImage{
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    border: .1875rem solid white;
    overflow: hidden;
    margin: auto;
    margin-bottom: 1rem;
}

.cards p{
    font-size: .9375rem;
    margin-bottom: 1rem;
}

.cards span{
    color: var(--highLight-color);
}

@media(max-width: 768px){
    .cards{
        width: calc((100% - 32px) / 2);
    }
}

@media(max-width:390px){
    .cards{
        width:calc((100% -32px) / 2);
    }
}