.header{
    position:fixed;
    top: 0;
    z-index: 100;
    width:100% ;
    background-color:var(--background-tealBlue);
    padding: 1.5rem 2.6875rem;
}

.nav{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav h1{
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 2.8125rem;

}

.navUl{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.navUl li{
    font-size: 13.36px;
    line-height: 27px;
    letter-spacing: 0.9px;

    &:hover{
        color: var(--highLight);
    }
}

.menu{
    display: none;
}

@media(max-width:768px){
    .navUl{
        display: none;
    }

    .menu{
        display: block;
    }

    .active{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5.25rem;
        left: 0;
        width: 40%;
        height: 80vh;
        background-color: white;
        gap: 15px;
        padding: 0px 10px;
        color: black;
    }

    .close{
        position: absolute;
        top:10px;
        right: 10px;
    }
}







.nav span{
    color: var(--background-blue);
}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
}

.nav ul li{
    font-size:.835rem ;
    line-height: 1.6875rem;
    letter-spacing:0.9px;

    &:hover{
        color: var(--background-blue);
    }
} 